button {
  cursor: pointer;
  height: 48px;
}

.start-btn,
.filter-btn,
.enter-btn,
.initial-btn {
  padding: 0 15px;
  background: var(--grey-2);
  border: none;
  border-radius: var(--border-radius-1);
  color: var(--grey-4);
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-1);
}
.start-btn:hover,
.filter-btn:hover {
  background-color: var(--grey-4);
  color: var(--grey-1);
}
.start-btn:active,
.filter-btn:focus,
.enter-btn,
.initial-btn {
  background-color: var(--color-primary);
  color: var(--grey-1);
}
.start-btn {
  height: auto;
  padding: 10px 15px;
}
.initial-btn {
  width: 241px;
}

.enter-btn:hover {
  background-color: var(--color-primary-2);
  color: var(--grey-1);
}
.exclude-btn {
  width: 22px;
  height: 22px;
  background-color: var(--grey-2);
  border-radius: var(--border-radius-2);
  background-image: url(./../../assets/trashGrey.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}
.exclude-btn:hover {
  background-color: var(--grey-4);
  background-image: url(./../../assets/trashWhite.svg);
}
