.filter-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 24px;
}
.filter-div > h3 {
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-1);
  color: var(--grey-4);
}
.filter-div > div {
  width: 100%;
  max-width: 280px;
  display: flex;
  justify-content: space-between;
}
.transactions-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 16px;
  margin-bottom: 40px;
}
.no-louch {
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-1);
  color: var(--grey-4);
}

@media (max-width: 1300px) {
  .filter-div {
    flex-direction: column;
    gap: 12px;
    align-items: center;
  }
  .transactions-list {
    width: 100%;
    align-items: center;
  }
  .no-louch {
    font-size: var(--font-size-4);
  }
}
