@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

:root {
  --color-primary: #fd377e;
  --color-primary-2: #e34981;
  --color-secondary: #03b898;

  --grey-1: #f8f9fa;
  --grey-2: #e9ecef;
  --grey-3: #868e96;
  --grey-4: #212529;

  --font-size-1: 1.75rem; /* 28px */
  --font-size-2: 1.5rem; /* 24px */
  --font-size-3: 1.25rem; /* 20px */
  --font-size-4: 1rem; /* 16px */
  --font-size-5: 0.75rem; /* 12px */

  --font-weight-1: 700;
  --font-weight-2: 400;

  --border-radius-1: 8px;
  --border-radius-2: 4px;
}

h1 {
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-1);
}

h2 {
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-1);
}

h3 {
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-1);
}

h4 {
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-1);
}
main {
  margin-top: 39px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 40px;
}

.container {
  margin: 0 100px;
}

@media (max-width: 800px) {
  .container {
    margin: 0 15px;
  }
  main {
    margin-top: 20px;
    flex-direction: column;
    gap: 16px;
  }
}
